.boxContent {
  .insight {
    display: flex;
    @media (max-width: 992px) {
      display: block;
    }
    .companyLogo {
      @media (max-width: 992px) {
        text-align: center;
      }
    }
  }
  background: #fff;
  box-shadow: 0 8px 15px 4px rgb(0 92 144 / 5%);
  border-radius: 4px;
  padding: 20px 15px;
  .info {
    display: flex;
    svg {
      margin-right: 10px;
    }
    span {
      margin-right: 10px;
    }
  }
}
.btnAction {
  margin-left: auto;
  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}
.detailJob {
  h6 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.sameJob {
  padding: 10px 10px;
  &:hover {
    background: #f3fcff;
  }
  border-bottom: 1px solid #757575;
  .logo {
    width: 63px;
    height: 100%;
  }
  .sameJobItem {
    display: flex;
  }
  .info {
    overflow: hidden;
    .title {
      font-size: 13px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: black;
      margin: 0;
    }
    .description {
      color: #757575;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
.workJobTitle {
  margin-bottom: 2px;
}
.companyTitle {
  margin-bottom: 10px;
  a {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.companyLogo {
  img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    margin-right: 20px;
  }
}
.boxItem {
  display: flex;
  align-items: flex-start;
  .title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .content {
    margin-bottom: 10px;
  }
  img {
    margin-right: 20px;
  }
}
