.logoItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    width: 64px;
    border-radius: 50%;
    height: 64px;
    margin-right: 10px;
    object-fit: contain;
  }
}
.actionAdd {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
