.jobItem {
  display: flex;
  background: #fff 0 0 no-repeat padding-box;
  border: 1px solid #f4f4f4;
  padding: 16px;

  background-color: #fff;
  border-radius: 7px;
  box-shadow: 2px 2px 12px #212f3f1a;
  margin: 6px 0;
  padding: 12px 12px 10px;
  transition: box-shadow 0.2s;
  &:hover {
    background: #f6f6f6;
  }
  .avatar {
    img {
      width: 170px;
      height: 100%;
      object-fit: cover;
    }
  }
  .info {
    margin-left: 12px;
    .title {
      a {
        color: #212f3f;
        font-size: 16px;
        margin-bottom: 6px;
        text-overflow: ellipsis;
        overflow: hidden;
        text-decoration: none;
        vertical-align: top;
      }
    }
    .company {
      a {
        color: #898989;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 8px;
        display: inline-block;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  p {
    margin: 0;
  }
}
.alignRight {
  text-align: left;
  margin-left: 15px !important;
}
.action {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff 0 0 no-repeat padding-box;
    border: 0.5px solid #d4d7da;
    border-radius: 5px;
    height: 32px;
    width: 32px;
    &:hover {
      background-color: rgba(229, 247, 237, 0.5) !important;
      color: #1890ff;
    }
  }
}
.jobInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
