.headerBoxList {
  display: flex;
  overflow: hidden;
  font-weight: 700;
  font-size: 18px;
  border-left: 5px solid red;
  line-height: 29px;
  margin-bottom: 10px;
  padding: 0 0 0 10px;
  position: relative;
  .title {
    display: inline-flex;
    color: #1890ff;
    background: white;
    z-index: 999;
    padding-right: 10px;
  }
  .line {
    background-color: #d7d7d7;
    bottom: 0;
    height: 1px;
    margin-bottom: auto;
    margin-left: 10px;
    margin-top: auto;
    position: absolute;
    top: 0;
    *top: 19px;
    width: 100%;
  }
}
.listCarrier {
  li {
    list-style-type: square;
    list-style-position: inside;
    padding: 0 0 5px;
    color: #2d82c4;
    .text {
      color: black;
    }
    span {
      cursor: pointer;
    }
  }
}
