.menu {
  li {
    &::after {
      border: none !important;
    }
    span {
      padding: 13px 10px;
      letter-spacing: 0.235px;
      margin: 16px 5px;
      border-radius: 5px;
      font-weight: 600;
      font-size: 14px;
    }
  }
}
.menuU {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 768px) {
    justify-content: flex-start;
  }
  li {
    &::after {
      border: none !important;
    }
  }
}
.footer {
  background-color: #f9f9f9;
  padding: 55px 0px 10px 0px;
  margin-top: auto;
  width: 100%;
}
.actionMenu {
  margin-left: 17px;
}
.sliderCollapse {
  height: 100%;
}
.menuAdmin {
  button {
    width: 100%;
    color: white;
    text-align: left;
    &:hover {
      color: white !important;
    }
  }
}
.wrapperLayout {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.logoContainer {
  @media (max-width: 768px) {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}
.logoImg {
  height: 46px;
  object-fit: cover;
  @media (max-width: 576px) {
    text-align: center;
  }
}
.logoImageFooter {
  mix-blend-mode: darken;
}
