.actionAdd {
  text-align: right;
  button {
    margin-bottom: 10px;
  }
}

.searchWrapper {
  .btnSearch {
    height: 40px;
    margin-left: 20px;
  }
  :global(.ant-select) {
    margin-left: 20px;
  }
}
