.topCompany {
  .companyBox {
    text-align: center;
    p {
      color: black;
    }
    img {
      width: 63px;
      height: 63px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
