.wrapCompanyDetail {
  background: linear-gradient(180deg, #d1e5fa, #f4f8fc);
  .bannerImg {
    width: 1024px;
    height: 360px;
    object-fit: cover;
  }
  .banner {
    text-align: center;
    position: relative;
    img {
      border-radius: 0 0 8px 8px;
    }
    .introControl {
      position: absolute;
      bottom: 130px;
      right: 170px;
    }
  }
  .logo {
    position: absolute;
    right: 12%;
    top: 30%;
    width: 960px;
    height: 208px;
    background: #fff;
    box-shadow: 0 8px 15px 4px rgb(0 92 144 / 5%);
    border-radius: 24px;
  }
}
.companyBox {
  margin-top: 118px;
  background: #fff;
  box-shadow: 0 8px 15px 4px rgb(0 92 144 / 5%);
  border-radius: 4px;
  padding: 20px 15px;
}

.nameCompany {
  display: flex;
  .introCompany {
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
    text-align: left;
    word-break: break-word;
    h1 {
      font-size: 32px;
      margin: 14px 0;
    }
  }
  .logoImage {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin: 14px;
  }
}
.boxListMenu {
  ul {
    display: flex;
    padding: 0;
    li {
      font-size: 0.875rem;
      margin-right: 10px;
    }
  }
}
.locationText {
  margin-left: 10px;
}
